/* fonts */

/* @font-face {
  font-family: SpeziaWide;
  src: url(/public/fonts/SpeziaWide-Bold.otf);
}

@font-face {
  font-family: SpeziaThin;
  src: url(/public/fonts/SpeziaCompleteUprightTrial.woff);
} */

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    color: rgba(255, 255, 255, 0.75);
  }
  to {
    color: transparent;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#navigation {
  position: fixed;
  bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.story-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.story-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#deckgl-overlay {
  cursor: crosshair;
}

#narrativeContainer {
  position: fixed;
  top: 50%;
  left: 5%;
  width: fit-content;
  z-index: 3;
  place-self: start;
  transition: opacity 0.5s ease-in-out;
}

#narrativeContainer > * {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#narrativeText {
  font-family: SpeziaWide;
  font-size: 3.25rem;
  line-height: 3.25rem;
  color: white;
  transition: 0.25s ease-in-out;
}

#narrativeImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1.5s ease-in-out;
  opacity: 1;
}

#flare {
  font-family: SpeziaThin;
  font-size: 3.25rem;
  line-height: 3.25rem;
  color: white;
  animation: normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

#subText {
  font-family: SpeziaWide;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-top: 0.25rem;
  padding-left: 0.125rem;
  color: white;
  transition: 0.25s ease-in-out;
}

#description {
  font-family: SpeziaWide;
  color: white;
  transition: 0.25s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
